body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*color: var(--Gray);*/
    background-color: rgb(243, 229, 223);
}
.topNav{
    background-color: var(---Secondary-dark);
}
.navContainer{
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /* align-items: center; */
    max-width: 1000px;
    /* height: auto; */
    margin: auto;
    /* outline: 1px solid red; */

}
.navContainer > div {
    width: 50%;
    /* text-align: center; */
    /* outline: 1px solid red; */
}

.logobox{
    text-align: left;
}

.navlist{
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    width: 50%;
    /* outline: 1px solid red; */

}

.mobileMenu {
    display:none;
}

.mNavItem{
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    border-bottom: 1px solid lightgrey;
    color: lightgreen;
}

.mNavItem.selected{
    font-weight: bold;
    color: rgb(218, 63, 109);    
}

.mobileMenu{
    position: relative;
}

.mobileNav{
    position: absolute;
    right: -20px;
    top: 30px;
    background-color: white;
    width: 50vh;
    display: none;
}
/* .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */

ul.nav{
    list-style-type: none;
    padding: 0;
    display: flex;
}
.navItem{
    padding: 16px 20px;
    text-decoration: none;
    font-size: var(--font-size-navigation);
    color: var(---Secondary-dark);
    display: block;
    text-align: right;
}
/* h1{
    color: var(--Gray-dark);
 } */
.bio-old{
    /* padding: 16px 20px; */
    text-decoration: none;
    font-size: var(--font-size-h6);
    color: var( --Gray-dark);
    width: 100%;
    margin-right: 10px;
    /* display: inline-block; */
    justify-content: center;
    text-wrap: wrap;
    display: flex;
    /* outline: 1px solid red; */

}

.bio{
    text-decoration: none;
    font-size: var(--font-size-h6);
    color: var(--Gray-dark);
    justify-content: center;
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.bio > div {
    /* outline: 1px solid red; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */

}

.boxLeft-old{
    display: flex;
    justify-content: center;
    /* outline: 1px solid red; */
}

.boxLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmPhoto{   
    border-radius: 8px;
    width: 55%;
    /* height: auto; */
    justify-content: center;
    /* outline: 1px solid red; */
}
.logo{
    max-width: 100%;
    height: auto;

}
.personalDetails{
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    
}
h1, p{
    justify-content: flex-start;
}
#workCards-old{
    display: inline-block;
    margin: 15px;

}
#workCards {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    align-items: center;
    flex-direction: row;
    outline: 1px solid red;
}

.cards-old{
    display: flex;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    /* padding: 150px;
    justify-content: center;
    align-items: center; */
}

.cards{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

/* -old */
.cards img{
    width: 100%;
}


.projectTitle{
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    border-top: none;
    /* border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; */
    
}

/* -old remove this */
.fullCard{
    display: flex;

    /* outline: 1px solid red; */
}


/* -old */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.personalDetails h1{
    margin-bottom: 16px;
}
.personalDetails h2{
    margin-bottom: 10px;
}
/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
} */
#footer{
    outline: 1px solid red;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 75px;
}


.projectOne{
    /* outline: 1px solid red; */
    
}
@media screen and (max-width: 999px) {
    .bio{
        display: block;
    }
    .personalDetails {
        padding: 65px;
    }
    #workCards {
        display:block;
        max-width: 400px;
    }
    .cmPhoto {
        width: 35%;
    }
    .mobileMenu {
        display:block;
    }
    ul.nav{
        display: none;
    }
    .topNav{
        padding: 20px 0;
    }
}